<div>
  <div>
    <a href="https://wa.me/525517672492?text=Hola,%20me%20interesa%20un artículo%20que%20vi%20en%20tu%20sitio%20web">
      <i class="fab fa-whatsapp"></i>
      <span>Escríbenos</span>
    </a>
  </div>

  <div>
    <a href="">
      <i class="fas fa-map-marker-alt"></i>
      <span>CDMX</span>
    </a>
  </div>

  <div>
    <a href="mailto:contacto@kaizenyoga.com.mx">
      <i class="fas fa-envelope"></i>
      <span>contacto<code>@</code>kaizenyoga.com.mx</span>
    </a>
  </div>
</div>

<div>
  <span>Síguenos en redes sociales</span>
  <div class="footerSocial">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-instagram"></i>
      </div>
</div>

<div>
  <span>Métodos de pago</span>
  <div>
      <i class="fab fa-cc-visa"></i>
      <i class="fab fa-cc-mastercard"></i>
      <i class="fas fa-credit-card"></i>
      <i class="fab fa-paypal"></i>
  </div>
</div>
