<!-- Inicia Bloque superior PC-->
<div class="navegacion">
  <div>
    <img src="../media/logo-kaizen-yoga.png" alt="logo" />
  </div>

  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="#">Kits</a></li>
      <li><a href="#">Personalizados</a></li>
    </ul>
  </nav>

  <div class="divIconos">
    <i class="fas fa-user"></i>
    <i class="fas fa-search"></i>
  </div>
</div>
<!-- Fin Bloque superior PC-->



<!-- Inicia Bloque inferior PC -->
<div class="subNavegacion">
  <div>
    <!-- Inicio sección para Meditación menú -->
    <p class="clicMeditacion"><i class="fas fa-chevron-down"></i>Meditación</p>
    <div class="listaMeditacionDiv">
      <div class="imagen-titulo">
        <img width="50px" src="../media/zzzzzzzzz.jpg" alt="">
        <a class="titulos-menu" href="/zafus" >Zafus:</a>
      </div>
          <!-- <ul style="display: none;">
              <li><a href="/meditacion/zafu-redondo-liso-con-diseno">Normal</a></li>
              <li><a href="/meditacion/zafu-media-luna">Normal con imágenes reducidas</a></li>
              <li><a href="/meditacion/zafu-redondo-liso">Prueba 1</a></li>
              <li><a href="/meditacion/zafu-viajes-liso">Prueba 2</a></li>
          </ul> -->
    </div>
  </div>
    <!-- <div>
          <a class="titulos-menu" href="" >Bancos de madera:</a>
            <li><a href="/meditacion/banco-de-madera-estandar-natural">Estándar natural</a></li>
            <li><a href="/meditacion/banco-de-madera-estandar-entintado">Estándar entintado</a></li>
            <li><a href="/meditacion/banco-de-madera-grande-natural">Grande natural</a></li>
            <li><a href="/meditacion/banco-de-madera-grande-entintado">Grande entintado</a></li>
            <li><a href="/meditacion/banco-de-madera-estandar-natural-con-cojin">Estándar natural con cojín</a></li>
            <li><a href="/meditacion/banco-de-madera-estandar-entintado-con-cojin">Estándar entintado con cojín</a></li>
            <li><a href="/meditacion/banco-de-madera-grande-natural-con-cojin">Grande natural con cojín</a></li>
            <li><a href="/meditacion/banco-de-madera-grande-entintado-con-cojin">Grande entintado con cojín</a></li>
        </div> -->

    <!-- <div>
          <a class="titulos-menu" href="" >Más:</a>
            <li><a href="/meditacion/funda-para-zafu">Funda para zafu</a></li>
              <li><a href="/meditacion/cascarilla-de-cafe-para-rellenar-zafu">Cascarilla de café para rellenar zafu</a></li>
              <li><a href="/meditacion/sabuton">Sabutón</a></li>
              <li><a href="/meditacion/sabuton-pro">Sabutón Pro</a></li>
              <li><a href="/meditacion/zafu-pro-redondo">Zafu Pro redondo</a></li>
            <li><a href="/meditacion/silla-de-meditacion-tipo-zen">Silla de meditación tipo zen</a></li>
            <li><a href="/meditacion/silla-de-madera-meditacion">Silla de madera meditación</a></li>
        </div> -->

<!-- Fin sección para Meditación menú -->


<!-- Inicia sección para Yoga menú -->
  <div>
    <h2 class="clicYoga"><i class="fas fa-chevron-down"></i>Yoga</h2>
    <ul class="listaYoga">
      <li><a href="">Cosas para yoga</a></li>
    </ul>
  </div>   
</div>
<!-- Fin Bloque inferior PC -->


<!-- Inicia script para items menú -->
<script type="text/javascript">
  // Submenú Meditación
function coleccionMeditacion(e) {
    const cambioMeditacion = document.getElementsByClassName('listaMeditacion')[0];
    cambioMeditacion.style.display = 'block';

    if (cambioMeditacion.style.display = 'block'){
        const clicBow = document.querySelector('.bannerHome, .principal');
        clicBow.addEventListener("click", function pepe(e){
            cambioMeditacion.style.display = 'none';
        })
    }
};
const clicMeditacionF = document.querySelector('.clicMeditacion');  
clicMeditacionF.addEventListener("click", coleccionMeditacion, false);




//Submenú Yoga
function coleccionYoga(e) {
    const cambioYoga = document.getElementsByClassName('listaYoga')[0];
    cambioYoga.style.display = 'block';   

        if (cambioYoga.style.display = 'block'){
            const clicBow = document.querySelector('.bannerHome, .principal');
            clicBow.addEventListener("click", function pepe(e){
                cambioYoga.style.display = 'none';
            })
        }
};
const clicYogaF = document.querySelector('.clicYoga');  
clicYogaF.addEventListener("click", coleccionYoga, false);
</script>