<div>
  <img src="../media/logo-kaizen-yoga.png" alt="logo" />
</div>

<nav>
  <ul>
    <div>
      <li><a href="/">Inicio</a></li>
    </div>
    
    <div>
      <li><a>Meditación<span class="fas fa-angle-down"></span></a></li>
      <div id="kc" class="menuMeditacion">
        <li><a href="/meditacion/zafu-redondo-liso">Zafu redondo liso</a></li>
        <li><a href="/meditacion/zafu-redondo-liso-con-diseno">Zafu redondo liso con diseño</a></li>
        <li><a href="/meditacion/zafu-media-luna">Zafu media luna</a></li>
        <li><a href="/meditacion/zafu-pliegues-liso">Zafu pliegues liso</a></li>
      </div>
    </div>
    <!-- <li><a href="#">Nosotros</a></li> -->
    <!-- <li><a href="/tienda">Tienda</a></li>
    <li><a href="#">Preguntas</a></li> -->
    <li><a href="#">Kits</a></li>
    <!-- <li><a href="#">Blog</a></li> -->
  </ul>
</nav>

<div class="divIconos">
  <i class="fas fa-user"></i>
  <i class="fas fa-search"></i>
</div>
