<div>
  <img src="../media/logo-kaizen-yoga.png" alt="logo" />
</div>

<nav>
  <ul>
    <div>
      <li><a href="/">Inicio</a></li>
    </div>
    <li><a href="#">Kits</a></li>
  </ul>
</nav>


<div class="divIconos">
  <i class="fas fa-user"></i>
  <i class="fas fa-search"></i>
</div>
