<!-- Bloque superior -->
<div class="navegacion">
  <div>
    <img src="../media/logo-kaizen-yoga.png" alt="logo" />
  </div>

  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="#">Kits</a></li>
      <li><a href="#">Personalizados</a></li>
    </ul>
  </nav>

  <div class="divIconos">
    <i class="fas fa-user"></i>
    <i class="fas fa-search"></i>
  </div>
</div>



<!-- Bloque inferior -->
<div class="subNavegacion">
  <div>
    <h2 class="clicMeditacion"><i class="fas fa-chevron-down"></i>Meditación</h2>
    <ul class="listaMeditacion">
      <li><a href="/meditacion/zafu-redondo-liso-con-diseno">Zafu redondo liso con diseño</a></li>
    </ul>
  </div>

  <div>
    <h2 class="clicYoga"><i class="fas fa-chevron-down"></i>Yoga</h2>
    <ul class="listaYoga">
      <li>Cosas para yoga</li>
    </ul>
  </div>   
</div>


<script type="text/javascript">
  // Submenú Meditación
function coleccionMeditacion(e) {
    const cambioMeditacion = document.getElementsByClassName('listaMeditacion')[0];
    cambioMeditacion.style.display = 'block';


    if (cambioMeditacion.style.display = 'block'){
        const clicBow = document.querySelector('.bannerHome, .principal');
        clicBow.addEventListener("click", function pepe(e){
            cambioMeditacion.style.display = 'none';
        })
    }
};
const clicMeditacionF = document.querySelector('.clicMeditacion');  
clicMeditacionF.addEventListener("click", coleccionMeditacion, false);




//Submenú Yoga
function coleccionYoga(e) {
    const cambioYoga = document.getElementsByClassName('listaYoga')[0];
    cambioYoga.style.display = 'block';   

        if (cambioYoga.style.display = 'block'){
            const clicBow = document.querySelector('.bannerHome, .principal');
            clicBow.addEventListener("click", function pepe(e){
                cambioYoga.style.display = 'none';
            })
        }
};
const clicYogaF = document.querySelector('.clicYoga');  
clicYogaF.addEventListener("click", coleccionYoga, false);
</script>