<div class="navegacion">
  <div>
    <img src="../media/logo-kaizen-yoga.png" alt="logo" />
  </div>

  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="#">Kits</a></li>
      <li><a href="#">Personalizados</a></li>
    </ul>
  </nav>

  <div class="divIconos">
    <i class="fas fa-user"></i>
    <i class="fas fa-search"></i>
  </div>
</div>


<div class="subNavegacion">
  <div>
    <h2 class="clicMeditacion">Meditación</h2>
    <ul class="listaMeditacion">
      <li>Zafu con diseño</li>
    </ul>
  </div>

  <div>
    <h2 class="clicYoga">Yoga</h2>
    <ul class="listaYoga">
      <li>Cosas para yoga</li>
    </ul>
  </div>
      
    
</div>