<ul class="submenuMeditacion nav nav-pills">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Meditación</a>
      <ul class="dropdown-menu">
        <li><a href="/meditacion/zafu-redondo-liso">Zafu redondo liso</a></li>
        <li><a href="/meditacion/zafu-redondo-liso-con-diseno">Zafu redondo liso con diseño</a></li>
        <li><a href="/meditacion/zafu-media-luna">Zafu media luna</a></li>
        <li><a href="/meditacion/zafu-pliegues-liso">Zafu pliegues liso</a></li>
        <!-- <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li> -->
      </ul>
    </li>
</ul>