<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kaizen</title>

    <!-- Inicia enlace para CSS Index -->
    <link rel="stylesheet" href="../css/cssHome.css" />
    <!-- Inicia enlace para CSS Index -->

    <%- include('./template/head.ejs') %>
</head>

<body>
    <%- include('./template/barraSuperior.ejs') %>

        <header>
            <%- include('./template/header.ejs') %>
        </header>

        <div style="height: 550px;" class="bannerHome">
            <!-- <img src="./media/Inicio/bannerInicio.png" width="100%" alt="" /> -->
        </div>

        <section class="sectionHome">
            <h1 class="scale-in-center">Lleva tu práctica de yoga o meditación a otro nivel con Kaizen Yoga</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi commodi impedit deleniti totam nihil enim doloremque necessitatibus esse quisquam aspernatur, similique non quo sequi rem provident numquam. Numquam, tenetur veritatis.</p>

            <div class="contenedorSecciones">
                <div>
                    <img loading="lazy" src="../media/Inicio/yogaUno.png" width="450px" alt="" />
                    <h2>Yoga</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam qui repellat accusamus consequatur vel fuga beatae ratione neque laborum similique. Voluptatibus illo neque corrupti, delectus tempore officia nulla laboriosam sequi.</p>
                </div>

                <div>
                    <img loading="lazy" src="../media/Inicio/yogaDos.png" width="450px" alt="" />
                    <h2>Meditación</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum totam cupiditate, consequuntur architecto quo corrupti animi et quos, nisi quod quia at doloremque officiis dicta? Sequi at deserunt praesentium possimus.</p>
                </div>

                <div>
                    <img loading="lazy" src="../media/Inicio/yogaTres.png" width="450px" alt="" />
                    <h2>Principiantes</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, explicabo consequatur harum itaque nam magnam cumque commodi corporis optio nulla ratione et, velit fugit facilis fuga inventore, alias tenetur eius!</p>
                </div>

                <div>
                    <img loading="lazy" src="../media/Inicio/yogaCuatro.png" width="450px" alt="" />
                    <h2>Avanzados</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit necessitatibus labore, minima nobis magni voluptatum modi quis eius, voluptate laboriosam atque soluta est, veniam blanditiis fugit voluptates aut. Et, rem.</p>
                </div>
            </div>
        </section>


        <div class="sectionHomeDos">
            <div class="divHomeDosA">
                <h3>¿Aún no sabes qué estilo de cojín escoger?</h3>
                <a href="/tienda">
                    <button>Nosotros de ayudamos</button>
                </a>
            </div>

            <div class="divHomeDosB">
                <img loading="lazy" src="../media/Inicio/contactoHome.png" width="400px" alt="">
            </div>
        </div>

        <h4>"Si buscas la paz, quédate quieto, si buscas sabiduría, guarda silencio, si buscas amor, sé tú mismo."
            -Becca Lee</h4>

        <footer>
            <%- include('./template/footer.ejs') %>
          </footer>
</body>

</html>