<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaizen</title>
    <!-- Enlace para CSS  -->
    <link rel="stylesheet" href="../css/cssHome.css" />
    <link rel="stylesheet" href="../css/cssTienda.css" />
</head>
<body>
    <h1>Estamos en construcción</h1>


    <a href="/tienda">Tienda</a>
</body>
</html>