<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kaizen Yoga 2022</title>


    <!-- Inicia Head (CSS General, Tipografía y Fontawesoma para íconos)-->
        <%- include('./partials/head.ejs') %>
    <!-- Fin Head (CSS General, Tipografía y Fontawesoma para íconos)-->

    <!-- Inicia enlace para CSS Index -->
        <link rel="stylesheet" href="../css/cssHome.css" />
    <!-- Fin enlace para CSS Index -->
</head>

<body>
     <!-- Inicia Barra superior-->
  <%- include('./partials/barraSuperior.ejs') %>
  <!-- Fin Barra superior-->

        <header>
            <%- include('./partials/header.ejs') %>
        </header>
        

        <div style="height: 550px;" 
            class="bannerHome">
        </div>

        <section class="sectionHome">
            <h1> h1 45px Lleva tu práctica de yoga o meditación a otro nivel con Kaizen Yoga</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, doloremque! Magni quibusdam voluptates porro suscipit rerum similique maiores obcaecati consequuntur. Hic a excepturi fugit enim eum nisi aliquam minima quia!</p>

            <div class="contenedorSecciones">
                <div>
                    <img loading="lazy" src="../media/Inicio/yogaUno.png" width="80%" alt="" />
                    <h2>Yoga</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam qui repellat accusamus consequatur vel fuga beatae ratione neque laborum similique.</p>
                </div>

                <div>
                    <img loading="lazy" src="../media/Inicio/yogaDos.png" width="80%" alt="" />
                    <h2>Pilates</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam qui repellat accusamus consequatur vel fuga beatae ratione neque laborum similique.</p>
                </div>

                <div>
                    <img loading="lazy" src="../media/Inicio/yogaTres.png" width="80%" alt="" />
                    <h2>Principiantes</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam qui repellat accusamus consequatur vel fuga beatae ratione neque laborum similique.</p>
                </div>

                <div>
                    <img loading="lazy" src="../media/Inicio/yogaCuatro.png" width="80%" alt="" />
                    <h2>Avanzados</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam qui repellat accusamus consequatur vel fuga beatae ratione neque laborum similique.</p>
                </div>
            </div>
        </section>


        <div class="sectionHomeDos">
            <div class="divHomeDosA">
                <h3>¿Aún no sabes qué escoger?</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, adipisci, eaque libero expedita praesentium sunt perferendis, distinctio.</p>
                <a href="/tienda">
                    <button>Nosotros te ayudamos</button>
                </a>
            </div>

            <div class="divHomeDosB">
                <img loading="lazy" src="../media/Inicio/contactoHome.png" width="400px" alt="">
            </div>
        </div>

        <h4 class="homeH4">"Si buscas la paz, quédate quieto, si buscas sabiduría, guarda silencio, si buscas amor, sé tú mismo."
            -Becca Lee</h4>

        <footer>
            <%- include('./partials/footer.ejs') %>
        </footer>
            

</body>

</html>