<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kaizen</title>
  <!-- Enlace para CSS  -->
  <link rel="stylesheet" href="../css/cssGeneral.css" />
  <link rel="stylesheet" href="../css/cssTienda.css" />

  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->

<body class="tienda">

  <h1>Todos los artículos</h1>
  <!--Todos los artículos que tengan la etiqueta 'todos'. CLa colección en Shopify se llama: todos-->

  <nav class="navColecciones">
    <!--Menú de las colecciones-->

    <ul>
      <button id="textoColeccionTodos" onclick="botonColeccionTodos()">
        <li>Colección Todos</li>
      </button>

      <button id="botonColeccionUno" onclick="botonColeccionUno()">
        <li>Colección Uno</li>
      </button>

      <button id="botonColeccionDos" onclick="botonColeccionDos()">
        <li>Colección Dos</li>
      </button>

    </ul>
  </nav>

  <div class="mosaicoColecciones">
    <div id="contenidoTodos">
      <h3>Hole, soy el contenidoTodos</h3>
      <div id='collection-component-1637023854207'></div>
<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'kaizencuatro.myshopify.com',
      storefrontAccessToken: '4164ed056729419d3e24bb720d01c9a4',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('collection', {
        id: '263317422218',
        node: document.getElementById('collection-component-1637023854207'),
        moneyFormat: '%24%20%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "styles": {

      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px",
          "width": "calc(25% - 20px)"
        }
      }
    },
    "buttonDestination": "modal",
    "contents": {
      "options": false
    },
    "text": {
      "button": "Características"
    }
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      }
    },
    "text": {
      "button": "Add to cart"
    }
  },
  "option": {},
  "cart": {
    "text": {
      "total": "Subtotal",
      "button": "Checkout"
    }
  },
  "toggle": {}
},
      });
    });
  }
})();
/*]]>*/
</script>
    </div>

    <div id="contenidoUno" style="display: none;">
      <h3>Hole, soy el contenidoUno</h3>
    </div>

    <div id="contenidoDos" style="display: none;">
      <h3>Hole, soy el contenidoDos</h3>
    </div>
  </div>





  <!-- Script para efecto de navegación Colección -->
  <script src="/scripts/parrafoTienda.js"></script>



</body>

</html>