
.areaDos span{
  font-size: 25px;
}

html p{
  font-size: 20px;
}

.principal{
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 5% 15%;
  justify-content: space-evenly;
}

.area {
  width: 40%;
}

.areaDos{
  width: 60%;
  text-align: left;
  padding-left: 70px;
}

.areaDos h1{
  font-size: 32px;
  font-weight: bolder;
}

.areaDos h1,
.areaDos h2{
  color: #8E4091;
}

.areaDos h3{
  font-weight: normal;
}

.areaDos li{
  list-style-type: circle;
  font-size: 18px !important;
}




