
.areaDos span{
  font-size: 25px;
}

html p{
  font-size: 20px;
}

.principal{
  background-color: red;
  width: 100%;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  padding: 5% 10%;
}

.area {
  width: 50%;
  height: min-content;
  background-color: green;
}

.area div{
  width: 150px;
  height: 150px;
}

.messi{
  width: 100%;
}

/* .ps{
  width: 100%;
  background-image: url("../media/fondoArticulos.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
} */

/* .ps div{
  width: 400px;
} */


/* .slick-prev,
.slick-next{
  display: none !important;
} */

.messi:hover{
  transform: scale(1.8, 1.8);
  -webkit-transform: scale(1.8, 1.8);
  -moz-transform: scale(1.8, 1.8);
  -ms-transform: scale(1.8, 1.8);
  -o-transform: scale(1.8, 1.8);
}

.areaDos{
  width: 50%;
  text-align: left;
  padding-left: 5%;
}

.areaDos h1{
  font-size: 32px;
  font-weight: bolder;
}

.areaDos h1,
.areaDos h2{
  color: #8E4091;
}

.areaDos h3{
  font-weight: normal;
}

.areaDos li{
  list-style-type: circle;
  font-size: 18px !important;
}




