html h2{
  font-size: 30px;
}

html p{
  font-size: 20px;
}

html h4{
  padding-top: 15px;
  font-size: 23px;
  color: #8E4091;
  text-align: left;
}

.precioArticulo{
  font-size: 25px;
}

.padreArticulos{
  padding: 5% 10%;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.divA{
  display: block;
  margin: auto;
  width: 50%;
}

.divA *{
  padding-bottom: 5px;
}

.image-container {
  position:relative;
}

span{
  font-size: 30px;
}

.magnifier-glass {
  position: absolute;
  border: 5px solid #000000;
  border-radius: 50%;
  cursor: none;
  width: 100px;
  height: 100px;
}

.magnifier-glass:before {
  content:"";
  position: absolute;
  width: 25px;
  /* height:80px; */
  border-radius: 30px;
  background-color: #8E4091;
  top:86px;
  left:90px;
  transform: rotate(-33deg);
  -webkit-transform: rotate(-33deg);
  -moz-transform: rotate(-33deg);
  -ms-transform: rotate(-33deg);
  -o-transform: rotate(-33deg);
}