
/* html{
  display: none;
}  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Inicia Datos Generales CSS PC */
html {
  font-family: "Poppins", sans-serif;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: bold;
  color: #564693;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 37px;
}

h4 {
  font-size: 34px;
}

h5 {
  font-size: 31px;
}

h6{
  font-size: 28px;
}

li {
  list-style: none;
}

p,
nav a,
a,
li,
li a,
a button,
button a {
  font-size: 25px;
  text-decoration: none;
}

a{
  color: #8E4091;
}

a:hover{
  color: #564693;
}

/* nav a:hover{
  color: #8E4091;
  font-weight: bold;
} */

/* button{
  padding: 20px 0 30px 0;
  border: none;
  -webkit-box-shadow: 0 0 3px 2px #564693;
  box-shadow: 0 0 3px 2px #564693;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #8E4091;
}

button:hover{
  background: transparent;
  padding: 8px 30px;
} */

/* Fin de Datos Generales CSS PC */



/* Inicia Barra superior PC */
.barraSuperior{
  text-align: center;
  color: #ffffffff;
  background-color: #564693;
}

.barraSuperior p{
  font-size: 15px;
  padding: 0.8%;
}
/* Fin Barra superior PC */


/* Inicia Header PC */
/* Inicia Header Superior OC */
header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

header div{
  display: block;
  margin: auto;
}

.divNavegacion{
  margin: 0;
  width: 60%;
  display: block;
}

.navegacionSuperior,
.navegacionInferior{
  padding: 1% 2%;
}

.navegacionSuperior ul{
  display: flex;
  justify-content: center;
}

.navegacionSuperior ul li{
  padding: 1% 2%;
}


/* Inicia Navegación Inferior para PC */
.navegacionInferior{
  border-top: 1px solid black;
  margin: 0;
}

.navegacionInferior ul{
  display: flex;
}

.fa, .fas{
  font-size: 23px;
}

span{
  padding-right: 5px;
}

.itemsMeditacion{
  display: flex;
  justify-content: space-evenly;
}

.itemsMeditacion div{
  padding: 3% 10%;
  flex-direction: column;
  margin: auto;
  text-align: center;
  cursor: pointer;
}

.itemsMeditacion div:hover{
  transition: ease-in 100ms;
  -webkit-transition: ease-in 100ms;
  -moz-transition: ease-in 100ms;
  -ms-transition: ease-in 100ms;
  -o-transition: ease-in 100ms;
  /* transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1); */
  cursor: pointer;
}

.itemsMeditacion div li{
  font-size: 19px;
}

.itemsMeditacion div li span{
  font-size: 8px !important;
}

.itemsMeditacion div img{
  display: block;
  margin: auto;
}

.liMeditacion{
  cursor: pointer;
}

.itemsMeditacion,
.itemsZafu,
.itemsBancosDeMadera,
.itemsTapetes{
  display: none;
}

.itemsZafu{
  background-color: #8e4091bc;
  padding: 0 !important;
  width: 250px !important;
  position: absolute;
  z-index: 2;
}

.itemsZafu ul{
  display: block;
  padding: 0;
}

.itemsZafu ul div{
  display: flex;
  margin: 0;
  padding: 1%;
}

.itemsZafu ul div:hover{
  background-color: #8E4091;
}

.itemsZafu ul div li a{
  font-size: 18px;
  color: #ffffff;
}
/* Fin Navegación Inferior para PC */



footer{
  padding: 2%;
  margin-top: 100px;
  background-color: #564693;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

footer div *{
  font-size: 20px;
  color: #ffffff;
}

footer div i,
footer div span,
footer div a{
  font-size: 20px;
  color: #ffffff;
}

footer div{
  padding: 5px;
}

.footerSocial{
  display: flex;
  justify-content: center;
}

.footerSocial i{
  padding: 0 3%;
}

