.bannerHome{
background: url("/media/Inicio/bannerInicio.png") no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: 100% 100%;
}

.scale-in-center{ animation:scale-in-center 1s cubic-bezier(.25,.46,.45,.94) .3s both; -webkit-animation:scale-in-center 1s cubic-bezier(.25,.46,.45,.94) .3s both; }
@keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}

.sectionHome{
    width: 100%;
    text-align: center;
}

.sectionHome h1{
    padding: 70px 170px 20px 170px;
    color: #564693;
}

.sectionHome h2{
    margin-top: 15px;
    color: #564693;
}

.contenedorSecciones{
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contenedorSecciones div{
    width: 650px;
    margin: 45px 0;
    padding: 0 15px;
}

.sectionHome p{
    color: #8E4091;
}

.sectionHomeDiv{
    display: flex;
    width: 100%;
}

.sectionHomeDos{
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sectionHomeDos div{
    display: block;
    margin: auto;
}

/* .divHomeDos{
    margin-top: 150px;
    width: 100%;
    display: flex;
} */

.divHomeDos div{
    width: 50%;
}

/* .divHomeDosA{
    display: block;
    margin: auto;
} */

/* .divHomeDosB{
    display: block;
    margin: auto;
} */

/* .sectionHomeDivUno{
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
} */

/* .sectionHomeDivDos{
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
} */