.bannerHome{
background: url("/media/Inicio/bannerInicio.png") no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: 100% 100%;
}

.scale-in-center{ animation:scale-in-center 1s cubic-bezier(.25,.46,.45,.94) .3s both; -webkit-animation:scale-in-center 1s cubic-bezier(.25,.46,.45,.94) .3s both; }
@keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}

.sectionHome{
    text-align: center;
    background-image: url("/media/Inicio/fondoInicio.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-clip: content-box;
    background-attachment: fixed;
}

.sectionHome h1{
    padding: 3% 7%;
    color: #564693;
}

.sectionHome h2{
    margin-top: 20px;
    color: #564693;
}

.divHomeDosA h3{
    color: #564693;
}

.sectionHome p{
    padding: 0 9%;
    color: #8E4091;
}

.contenedorSecciones{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contenedorSecciones div{
    width: 40%;
    margin: 45px 0;
}

.contenedorSecciones div p{
    padding: 0;
}

.sectionHomeDos{
    width: 100%;
    margin: 80px 0;
    padding: 1% 5%;
    display: flex;
    justify-content: space-evenly;
    background-color: #55469321;
    background-attachment: fixed;
}

.sectionHomeDos div{
    display: block;
    margin: auto;
}

.homeH4{
    text-align: center;
    padding: 0 15%;
    margin: 20px 100px 0 100px;
}