.tienda{
        background-image: url(../media/Tienda/fondo-tienda.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: unset;
}

p,h1{
    text-align: center;
}

button{
  margin: 0 5px;
  border: none;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}

li{
  list-style: none;
  padding: 5px 10px;
}


.navColecciones{
  margin-top: 50px;
  text-align: center;
}

.mosaicoColecciones{
  width: 100%;
  padding: 3% 5%;
}
