.tienda{
    
        background-image: url(../media/Tienda/fondo-tienda.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: unset;
    
}

p,h1{
    text-align: center;
}



.container {
  display: flex;
  justify-content: center;
}

.image {
  width: 700px;
  margin: 25px;
}

.image img {
  width: 100%;
}

.loupe {
  display: none;
  position: absolute;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  box-shadow: 5px 5px 12px black;
  background: rgba(0, 0, 0, 0.25);
  cursor: crosshair;
  overflow: hidden;
}

.loupe img {
  position: absolute;
  right: 0;
}

