html h1 {
  font-size: 27px;
}

html h2{
  font-size: 23px;
}

html h3{
  font-size: 18px;
}

html p{
  font-size: 18px;
}

.tienda {
  background-image: url(../media/Tienda/fondo-tienda.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.navColecciones ul button {
  margin: 0 5px;
  border: none;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  background-color: transparent;
  padding: 3px 30px !important;
}

.navColecciones {
  margin-top: 50px;
  text-align: center;
}

.mosaicoColecciones {
  width: 100%;
  padding: 3% 15%;
  text-align: center;
}

#contenidoTodos,
#contenidoUno,
#contenidoDos{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.padreArticulo{
  border-style:none;
  margin: 10px;
  width: 30%;
  box-shadow: 0px 0px 4px 1px #564693;
  background-color: #ffffff;
}