<!-- Producto Estático -->
<div class="divArticulo"> 
  <div>
    <img loading="lazy" width="100%"
      src="https://cdn.shopify.com/s/files/1/0555/2766/9898/files/aroUno.jpg?v=1638330383" alt="aro para pilates">
  </div>

  <div>
    <h1>Aro para pilates</h1>
    <h2>Precio: $1,800</h2>
  </div>

  <button onclick="clicPop()" id="myBtn">Más modelos</button>
</div>