<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zafu Redondo Liso</title>


    <!-- Inicia Head (CSS General, Tipografía y Fontawesome para íconos)-->
      <%- include('../partials/head.ejs') %>
    <!-- Fin Head (CSS General, Tipografía y Fontawesome para íconos)-->

    <!-- Inicia enlace para CSS Tienda -->
      <link rel="stylesheet" href="../css/cssTienda.css" />
    <!-- Inicia enlace para CSS Tienda -->


    <!-- Inicia enlace para CSS Articulos -->
      <link rel="stylesheet" href="../css/cssArticulos.css" />
    <!-- Inicia enlace para CSS Articulos -->

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

</head>
<body class="tienda">
  <!-- Inicia Barra superior-->
    <%- include('../partials/barraSuperior.ejs') %>
  <!-- Fin Barra superior-->
    
  <header>
    <%- include('../partials/header.ejs') %>
  </header>
  
<div class="principal">
    <div class="area fade">
      <div>
        <img class="messi" src="https://cdn.shopify.com/s/files/1/0555/2766/9898/files/zafu-redondo-liso-dos.jpg?v=1643083117" alt="" srcset="">
      </div>
      <div>
        <img class="messi" src="https://cdn.shopify.com/s/files/1/0555/2766/9898/files/zafu-redondo-liso-tres.jpg?v=1643083117" alt="" srcset="">
      </div>
    </div>
  
    <div class="areaDos">
      <h1>afuRedondoLiso.titulo</h1>
      <span> mxn</span>
      <br>
      <p>Selecciona tu color favorito y añade al carrito</p>
        <div id='product-component-1643084567853'></div>
      <br>
      <p>El Zafu es una herramienta útil para la práctica de la meditación ya que te permite mantener la espalda recta, tener un mejor equilibrio manteniendo relajados los músculos logrando alcanzar una meditación y respiración más profundas.</p>
      <br>
      <h2>Características:</h2>
        <li>Fabricado con tergal (algodón y poliéster).</li>
        <li>Relleno de cascarilla de café.</li>
        <li>Funda interna de manta (para ajustar la altura deseada).</li>
        <li>Práctica haza para su transportación.</li>

      <br>
      <h2>Medidas:</h2>
        <li>35 cm diámetro 16 cm de alto.</li>
      
      <br>
      <h6>*Hecho en México por artesanos mexicanos.</h6>
    
    </div>
</div>


    <footer>
      <%- include('../partials/footer.ejs') %>
    </footer>




<!-- Shopify Producto -->



<!--jquery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--CDN-->
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


  <script type="text/javascript">
    $(function(){
      $('.fade').slick({
          dots: true,
          infinite: true,
          speed: 700,
          autoplay:true,
          autoplaySpeed: 2000,
          arrows:false,
          slidesToShow: 1
       });
    });
  </script>

</body>

</html>