<div>
      <i class="fab fa-whatsapp"></i>
      <span>55-55-55-55-55</span>
      <i class="fas fa-map-marker-alt"></i>
      <span>CDMX</span>
</div>

<div>
      <i class="fas fa-map-marker-alt"></i>
      <span>CDMX</span>
</div>

<div>
      <span>Íconos de métodos de pago</span>
</div>