<div>
  <div>
    <a href="">
      <i class="fab fa-whatsapp"></i>
      <span>55-55-55-55-55</span>
    </a>
  </div>

  <div>
    <a href="">
      <i class="fas fa-map-marker-alt"></i>
      <span>CDMX</span>
    </a>
  </div>

  <div>
    <a href="mailto:contacto@kaizenyoga.com.mx">
      <i class="fas fa-envelope"></i>
      <span>contacto@kaizenyoga.com.mx</span>
    </a>
  </div>
</div>

<div>
  <span>Síguenos en redes sociales</span>
  <div class="footerSocial">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-instagram"></i>
      </div>
</div>

<div>
  <span>Íconos de métodos de pago</span>
  <div>
      <i class="fab fa-cc-visa"></i>
      <i class="fab fa-cc-mastercard"></i>
      <i class="fas fa-credit-card"></i>
      <i class="fab fa-paypal"></i>
  </div>
</div>
