<!-- Producto de PopUp -->
<div class="divArticulo"> 
    <div>
      <img loading="lazy" width="100%"
      src="https://cdn.shopify.com/s/files/1/0555/2766/9898/files/aroUno.jpg?v=1638330383" alt="aro para pilates">
    </div>

    <div>
      <h1>Aro para pilates</h1>
      <h2>Precio: $1,800</h2>
      <h3>Variantes:</h3>
        <div>
          <!-- Aquí van las variantes del artículo -->
        </div>
      <p id="parrafoPopup">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus eveniet nobis aspernatur
        voluptas. Earum iure perspiciatis, in pariatur hic sequi distinctio minima labore temporibus qui aliquam
        minus adipisci quasi id?</p>
    </div>

    <button onclick="clicPop()" id="myBtn">Más detalles</button>
  </div>